{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/auth/signup.css">
{% endblock %}
{% block content %}
    <h2>Регистрација</h2>
    <form action="{{path_for('auth.signup')}}" method="post" autocomplete="off" >
    <div class="form-group">
      <label for="username">Корисничко Име</label>
      <input type="text"  id="username" class="form-control" placeholder="Корисничко Име" name="username" value="{{ request.username }}"/>
      <div class="valid-feedback"></div>
    </div>
    <div class="form-group">
      <label for="email">Емаил</label>
      <input type="email" id="email"  class="form-control" placeholder="Емаил" name="email"  value="{{ request.email }}">
      <div class="valid-feedback"></div>
    </div>
    <div class="form-group">
      <label for="password">Лозинка</label>
      <input type="password"  id="password" class="form-control" placeholder="Лозинка" name="password" >
      <div class="valid-feedback"></div>
    </div>
    <div class="form-group">
      <label for="password_confirm">Потврди Лозинка</label>
      <input type="password"  id="password_confirm" class="form-control" placeholder="Потврди Лозинка" name="password_confirm">
      <div class="valid-feedback"></div>
    </div>
    <button type="submit" class="btn btn-dark" id="sub">Регистрирај се</button>
    {{ csrf_field() | raw }}
    </form>
<script>
  $(function(){
    $('.custom-select').change(function(){
      $(this).addClass("is-valid");
    });
    $('.form-control').keyup(function(){
      var object = $(this);
      var val = $(this).val();
      var type = $(this).attr('name');
      var password = $('#password').val();
      $.get("{{path_for('validate')}}",{type:type, val:val, password:password}, function(data){
        if(data == 'true'){
            $(object).addClass("is-valid");
            $(object).removeClass("is-invalid");
            $(object).siblings('div').html('');
            $(object).siblings('div').addClass('valid-feedback');
            $(object).siblings('div').removeClass('invalid-feedback');
        }else {
          $(object).removeClass("is-valid");
          $(object).addClass("is-invalid");
          $(object).siblings('div').html(data);
          $(object).siblings('div').removeClass('valid-feedback');
          $(object).siblings('div').addClass('invalid-feedback');
        }
      });
    });
  });
</script>
{% endblock %}
