{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/footable.bootstrap.min.css">
<link rel="stylesheet" href="{{baseUrl}}/resources/node_modules/shepherd.js/dist/css/shepherd-theme-arrows.css"/>
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/home.css">
{% endblock %}
{% block content %}

  <div class="drag">
  B
  </div>
  <div class="canvas rounded">
    <canvas id="canvas" width="300" height="300"></canvas>
  </div>
  <div class="result">
    <form action="{{path_for('home')}}" method="post">
      <p style="color: rgb(189, 193, 198)">Koloto go vnesuvas tuka oblik<br>Primer za eden element: leftnode_value_rightnode (0_10_1_1_20_2)<br></p>
      <input type="text" name="kolo" value="">
      <input type="submit" value="Submit">
      {{ csrf_field() | raw }}
    </form>
  </div>
  <footer>
    vase
  </footer>
  <script type="text/javascript" src="{{baseUrl}}/resources/js/home.js"></script>
{% endblock %}
