{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/footable.bootstrap.min.css">
<link rel="stylesheet" href="{{baseUrl}}/resources/node_modules/shepherd.js/dist/css/shepherd-theme-arrows.css"/>
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/home.css">
{% endblock %}
{% block content %}
 {% if auth.check %}

{% else %}
  <form action="{{path_for('home')}}" method="post">
    <p>Koloto go vnesuvas tuka oblik<br>Primer za eden element: leftnode_value_rightnode (0_10_1_1_20_2)<br></p>
    <input type="text" name="kolo" value="" style="width:500px;">
    <input type="submit" value="Submit">
    {{ csrf_field() | raw }}
  </form>
{% endif %}
  <script type="text/javascript" src="{{baseUrl}}/resources/js/home.js"></script>
{% endblock %}
