{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/footable.bootstrap.min.css">
<link rel="stylesheet" href="{{baseUrl}}/resources/node_modules/shepherd.js/dist/css/shepherd-theme-arrows.css"/>
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/home.css">
{% endblock %}
{% block content %}
<script type="text/javascript" src="{{baseUrl}}/resources/js/templates/konva.js"></script>
  <div class="drag">
    <div class="btn-group" role="group" aria-label="Basic example">
       <button type="button" id="add" class="btn btn-primary" style="border-bottom-left-radius:0">{%include 'templates/svg/resistor.svg'%}</button>
       <button type="button" id="in" class="btn btn-primary">
         <svg height="30" width="30"> <circle cx="15" cy="15" r="8"  fill="#fff" /> </svg>
       </button>
       <button type="button" id="calc" class="btn btn-primary" style="border-bottom-right-radius:0">AB</button>
       <button type="button" id="out" class="btn btn-primary" style="border-bottom-right-radius:0"><i class="fas fa-cogs"></i></button>
     </div>
  </div>
  <div id="container" class="canvas">
     {%include 'templates/svg/grid.svg'%}
    </div>
  <div class="result">
    <div class="card mb-1">
    <svg class="w-100 d-block rounded" viewBox="0 0 840 240" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="0" width="100%" height="100%"></rect>
        <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="56" width="266" height="50" rx="2"></rect>
        <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="56" width="150" height="50" rx="2"></rect>
        <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="56" width="160" height="50" rx="2"></rect>
        <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="140" width="180" height="50" rx="2"></rect>
        <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="140" width="150" height="50" rx="2"></rect>
        <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="140" width="260" height="50" rx="2"></rect>
      </svg>
    </div>
    <div class="card mb-1">
    <svg class="w-100 d-block rounded" viewBox="0 0 840 240" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="0" width="100%" height="100%"></rect>
            <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="56" width="266" height="50" rx="2"></rect>
            <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="56" width="150" height="50" rx="2"></rect>
            <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="56" width="160" height="50" rx="2"></rect>
            <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="140" width="180" height="50" rx="2"></rect>
            <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="140" width="150" height="50" rx="2"></rect>
            <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="140" width="260" height="50" rx="2"></rect>
          </svg>
      </div>
      <div class="card mb-1">
      <svg class="w-100 d-block rounded" viewBox="0 0 840 240" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="0" width="100%" height="100%"></rect>
          <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="56" width="266" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="56" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="56" width="160" height="50" rx="2"></rect>
          <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="140" width="180" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="140" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="140" width="260" height="50" rx="2"></rect>
        </svg>
      </div>
      <div class="card mb-1">
      <svg class="w-100 d-block rounded" viewBox="0 0 840 240" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="0" width="100%" height="100%"></rect>
          <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="56" width="266" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="56" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="56" width="160" height="50" rx="2"></rect>
          <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="140" width="180" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="140" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="140" width="260" height="50" rx="2"></rect>
        </svg>
      </div>
  </div>
  <footer>
    <p>Copyright (c) 2019 Electro All Rights Reserved</p>
  </footer>
 <div class="edit">
   <div class="input-group">
    <input type="text" id="edit-value" class="form-control pr-1" aria-describedby="button-addon4" style="width:50px;">
    <div class="input-group-append" id="button-addon4">
      <button type="button" class="btn btn-primary" id="edit-check"><i class="fas fa-check"></i></button>
      <button type="button" class="btn btn-primary" id="edit-rl"><i class="fas fa-undo"></i></button>
      <button type="button" class="btn btn-primary" id="edit-rr" ><i class="fas fa-redo"></i></button>
      <button type="button" class="btn btn-primary" id="edit-delete"><i class="fas fa-trash"></i></button>
    </div>
  </div>
 </div>
  <script type="text/javascript" src="{{baseUrl}}/resources/js/home.js"></script>
{% endblock %}
