{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/update/recover_pass.css">
{% endblock %}
{% block content %}
    <h2>Внеси Еmail</h2>
    <form action="{{path_for('password.recover')}}" method="post" autocomplete="off">
      <div class="form-group">
      <input type="password"  class="form-control {{errors.first('email') ? 'is-invalid'}}" id="password" placeholder="Внеси Е-mail" name="email" >
      <div class="{{errors.first('email') ? 'invalid-feedback':'valid-feedback'}}"> {{errors.first('email')}}</div>
      </div>
      {{ csrf_field() | raw }}
      <button type="submit" class="btn btn-dark">Продолжи</button>
    </form>
{% endblock %}
