{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/update/profile.css">
{% endblock %}
{% block content %}
<h2>Промени лозинка</h2>
<form action="{{path_for('update')}}" method="post" autocomplete="off">
  <div class="form-group">
    <label for="password">Стара Лозинка</label>
    <input type="password"  class="form-control {{errors.first('password') ? 'is-invalid'}}" id="password" placeholder="Стара лозинка" name="password" >
    <div class="{{errors.first('password') ? 'invalid-feedback':'valid-feedback'}}"> {{errors.first('password')}}</div>
  </div>
  <div class="form-group">
    <label for="password">Нова Лозинка</label>
    <input type="password"  class="form-control {{errors.first('password_new') ? 'is-invalid'}}" id="password_new" placeholder="Нова лозинка" name="password_new" >
    <div class="{{errors.first('password_new') ? 'invalid-feedback':'valid-feedback'}}"> {{errors.first('password_new')}}</div>
  </div>
  <div class="form-group">
    <label for="password">Потврди Лозинка</label>
    <input type="password"  class="form-control {{errors.first('password_confirm') ? 'is-invalid'}}" id="password_new" placeholder="Потврди лозинка" name="password_confirm" >
    <div class="{{errors.first('password_confirm') ? 'invalid-feedback':'valid-feedback'}}"> {{errors.first('password_confirm')}}</div>
  </div>
  {{ csrf_field() | raw }}
  <button type="submit" class="btn btn-dark" >АЖУРИРАЈ</button>
</form>

{% endblock %}
