<!DOCTYPE html>
<html lang="en mk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="{{baseUrl}}/resources/img/bio-sensor.svg">
    <title>Electro</title>
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/bootstrap.min.css">
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/main.css">
    <link rel="stylesheet" href="{{baseUrl}}/resources/css/templates/navigation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% block head %} {% endblock %}
  </head>
  <body>
    <script type="text/javascript" src="{{baseUrl}}/resources/js/templates/jquery-3.2.1.js"></script>
    <!-- Simplebar <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="{{baseUrl}}/resources/js/templates/main.js"></script>
    <script type="text/javascript" src="{{baseUrl}}/resources/js/templates/rotate.js"></script>

    {%include 'templates/partials/navigation.twig' %}

    <div class="site">
    {%include 'templates/partials/flash.twig' %}
    {% block content %} {% endblock %}
    </div>
    <script src="{{baseUrl}}/resources/js/templates/propper.js"></script>
    <script src="{{baseUrl}}/resources/js/templates/bootstrap.min.js"></script>
    {% if auth.check %}
      <!-- Simplebar<script src="{{baseUrl}}/resources/js/templates/swipe.js"></script>-->
    <!-- Simplebar  <script src="{{baseUrl}}/resources/node_modules/shepherd.js/dist/js/shepherd.min.js"></script> -->
    {% endif %}
  </body>
</html>
