<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <img src="{{baseUrl}}/resources/img/bio-sensor.svg" width="40" height="40" class="d-inline-block align-top mr-2">
  <a class="navbar-brand m-0" href="{{path_for('home')}}">ЕЛЕКТРО</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
   <div class="hamburger d-flex flex-column justify-content-around text-center">
     <div class="hamburger__patty"></div>
     <div class="hamburger__patty"></div>
     <div class="hamburger__patty"></div>
   </div>
  </button>
  <div id="navbar"class="collapse navbar-collapse">
    <ul class="nav navbar-nav ml-auto ">
      {% if auth.check %}
           {% if auth.user.permissions.hasPermission('is_admin')%}
             <li class="nav-item active">
               <a class="nav-link" href="{{path_for('admin') }}"> <span>АДМИН</span></a>
             </li>
           {% endif %}
       <li class="nav-item active ">
         <a class="nav-link " href="{{path_for('update') }}"> <span>ПОСТAВКИ</span></a>
       </li>
       <li class="nav-item active ">
         <a class="nav-link " href="{{path_for('auth.signout') }}"> <span>ОДЈАВА</span></a>
       </li>
     {% else %}
       <li class="nav-item active ">
         <a class="nav-link " href="{{path_for('auth.signup') }}"> <span>РЕГИСТРАЦИЈА</span></a>
       </li>
       <li class="nav-item active">
         <a class="nav-link" href="{{path_for('auth.signin') }}"> <span>НАЈАВА</span></a>
       </li>
     {% endif %}
    </ul>
  </div>
</nav>
<script type="text/javascript">
  $($('.hamburger').parent().attr('data-target')).on('hide.bs.collapse', function () {
    $(this).parent().find('.hamburger').removeClass('hamburger--close');
  });
  $($('.hamburger').parent().attr('data-target')).on('show.bs.collapse', function () {
    $(this).parent().find('.hamburger').addClass('hamburger--close');
  });
</script>
